body{
    background-color: rgb(219 219 219) !important;
}
.popup{
    z-index: 1;
    position: absolute;
    height: 330px;
    width: 18% !important;
    background-color: rgb(195, 200, 204);
    top: 100px;
    left: 40%;
    padding: 2%;
    color: rgb(68, 68, 68);
    font-size: large;
    font-family: "Roboto",sans-serif;
    font-weight: 600;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 12px 54px 55px, rgba(0, 0, 0, 0.12) 12px -12px 30px, rgba(0, 0, 0, 0.12) 12px 4px 6px, rgba(0, 0, 0, 0.17) 12px 12px 13px, rgba(0, 0, 0, 0.09) 12px -3px 5px;
}
.search{
    margin-left: 3%;
    position: relative;
    top: 12px;
    border-radius: 8px;
    border-style: none;
    height: 36px;
    border-radius: 4px;
    padding-left: 12px;
    font-size: 14px;
    font-weight: normal;
    border: 1px solid rgb(137, 151, 155);
    transition: border-color 150ms ease-in-out 0s;
    outline: none;
    color: rgb(33, 49, 60);
    background-color: rgb(255, 255, 255);
    padding-right: 12px;
}
.search:hover{
    box-shadow: rgb(231 238 236) 0px 0px 0px 3px;
}
.search-icon{
    position: relative;
    top: 14px;
    left: 7px;
    color: green;
}
.search-button{
    padding: 0 !important;
    border-width: 0 !important;
}
.form-control{
    font-family: "Roboto",sans-serif;
}
.row{
    display:flex;
    flex-direction: column;
}
.display-area{
    padding: 3%;
    padding-top: 0;
    padding-bottom: 0;
}
.delete-checked{
    position: absolute;
    top: 5px;
    right: 50px;
}
.selected{
    position:absolute;
}
.bar{
    display: flex;
    justify-content: end;
    font-family: "Roboto",sans-serif;
    font-weight: 500px;
    gap: 15px;
    width: 97%;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: "Roboto",sans-serif;
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
td{
    color: rgb(100, 100, 100) !important;
}
th{
    color: #effffc !important;
    font-weight: 600;
}
.save{
    margin-top: 15px;
}
.edit{
    padding:0 !important;
    border-width: 0 !important;
}
.edit span{
    color: rgb(79, 79, 146);
    font-size: 25px;
}
.delete{
    padding: 0 !important;
    border-width: 0 !important;
}
.delete span{
    color: rgb(187, 98, 98);
}
.delete-checked span{
    color: #b75f5f;
    font-size: 30px;
}
.form-control:focus{
    box-shadow: 0 0 0 0.25rem rgb(32 42 56 / 25%) !important;
}
.searchDiv{
    display:flex;
}
.btn-outline-dark{
    padding: 5px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-weight: 500;
    margin-right: 10px;
}
.previous-page,
.next-page{
    padding: 0 !important;
}
.previous-page span,
.next-page span{
    font-size: 15px;
}
.previous-page span{
    position: relative;
    left: 3.5px;
    top: 2px;
}
.next-page span{
    position: relative;
    top: 2px;
}


.first-page,
.last-page{
    padding: 0 !important;
}
.first-page span,
.last-page span{
    font-size: 18px;
}
.first-page span{
    position: relative;
    right: 0.5px;
    top: 2px;
}
.last-page span{
    position: relative;
    top: 2px;
}
/* font-family: "Roboto",sans-serif; */ 